
<%- include ('public/header.ejs')%>
<div class="user-list-container">
    <link rel="stylesheet" href="css/userList.css">
    <h1>This is page shows all users</h1>
    
    <table class="user-table">
        <tr>
            <th>Staff No.</th>
            <th>User Name</th>
            <th>Authorization</th>
            <th>Settings</th>
        </tr>
        <%for (let i=0; i<users.length; i++){%>
            <tr>
                <td>
                    <%=users[i].id%>
                </td>
                <td>
                    <%=users[i].username%>
                </td>
                <td>
                    <%=users[i].auth%>
                </td>
                <td>
                    <a href="/useredit?id=<%=users[i]._id%>" class="button">Edit</a>
                    <a href="/userdelete?id=<%=users[i]._id%>" class="button button-red">Delete</a>
                </td>
               
            </tr>
            <%}%>
    </table>
    <!-- <a class="button" href="/userAdd">Create User </a> -->
</div>
