<link rel="stylesheet" href="/css/stockAdd.css">

<%- include ('../public/header.ejs')%>
<%- include ('../public/leftSideNav.ejs')%>

<div class="container">
  <h1>Edit product</h1>
  <form action="/admin/products/done-product-edit" enctype="multipart/form-data" method="POST">
    <!-- !!!@@!@! Have to add this line to the form: enctype="multipart/form-data"  -->
    <input type="hidden" name="_id" value="<%=product._id%>"/>
    <div class="row">
      <div class="col-25">
        <label for="name">English Name</label>
      </div>
      <div class="col-75">
        <input type="text" name="name" value="<%=product.name%>">
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="name_CN">Chinese Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name_CN" name="name_CN" value="<%=product.name_CN%>">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="price">Price</label>
      </div>
      <div class="col-75">
        <input type="text" id="price" name="price" value="<%=product.price%>">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="id">Product ID</label>
      </div>
      <div class="col-75">
        <input type="text" id="id" name="id" value="<%=product.id%>">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="stock">Stock</label>
      </div>
      <div class="col-75">
        <input type="text" id="stock" name="stock" value="<%=product.stock%>">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="onSale">On Sale</label>
      </div>
      <div class="col-75">
        <select id="onSale" name="onSale">
          <%if (product.onSale){var onSale = "Yes"} else {var onSale = "No"}%>
          <option selected hidden value="<%=product.onSale%>"><%=onSale%></option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="category">Category</label>
      </div>
      <div class="col-75">
        <select id="category" name="category">
          <option selected hidden value="<%=product.category%>"><%=product.category%></option>
          <option value="Sweet spicy">Sweet spicy</option>
          <option value="Spicy">Spicy</option>
          <option value="Seafood">Seafood</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="picture">Picture</label>
      </div>
      <div class="col-75">
          <label for="picture">Please upload picture</label>
          <input type="file" id="picture" name="picture"><br>
      </div>
      <br/>
      <img src="/<%=product.picture%>" width="150px">
      <br/>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="ingredient">Ingredient</label>
      </div>
      <div class="col-75">
        <textarea id="ingredient" name="ingredient" value="<%=product.ingredient%>" style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Save">
    </div>
  </form>
</div>
