<%- include ('../public/header.ejs')%>
<%- include ('../public/leftSideNav.ejs')%>
<link rel="stylesheet" href="/css/productList.css">
<div class="product-list-container">
    <div class="search-container">
        <div>Product Search</div>
        <form action="/products">
            <label for="productSearch">Search Google:</label>
            <input type="search" id="productSearch" name="productSearch">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table class="product-table">
        <tr>
            <th>Product ID</th>
            <th>Chinese Name</th>
            <th>English Name</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Category</th>
            <th>On sale</th>
            <th>Icon</th>
            <th>Settings</th>
            
        </tr>
        <%for (let i=0; i<product.length; i++){%>
            <tr>
                <td>
                    <%=product[i].id%>
                </td>
                <td>
                    <%=product[i].name_CN%>
                </td>
                <td>
                    <%=product[i].name%>
                </td>
                <td>
                    <%=product[i].price%>
                </td>
                <td>
                    <%=product[i].stock%>
                </td>
                <td>
                    <%=product[i].category%>
                </td>
                <%if (product[i].onSale=='true'){%>
                <td>Yes</td>
                <%} else {%>
                <td>No</td>
                <%}%>
                
                <td>
                    <img width="100px" src="/<%=product[i].picture%>" alt="not found">
                </td>
                <td>
                    <a href="/admin/products/product-edit?id=<%=product[i]._id%>" class="button">Edit</a>
                    <a href="/admin/products/product-delete?id=<%=product[i]._id%>" class="button button-red">Delete</a>
                </td>
            </tr>
            <%}%>
    </table>
</div>

